@model WishProject.Models.User

@{
    ViewBag.Title = "Details";
}

<br>

<h2>User @Html.DisplayFor(model => model.Email) details: </h2> 

@*<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
            <h4> User:</h4>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>
</div>*@


<br>
<br>
<br>
<br>
<br>
<br>

<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.UserId }) |*@
    @Html.ActionLink("Back to User List", "Index")
</p>
